<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="geeks.tournamentmaker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddTeamActivity"
            android:label="@string/title_activity_add_player"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="geeks.tournamentmaker.MainActivity" />
        </activity>
        <activity
            android:name=".AddTournament"
            android:label="@string/title_activity_add_tournament"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="geeks.tournamentmaker.MainActivity" />
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".EnterMatchResults"
            android:label="@string/title_activity_enter_match_results"
            android:parentActivityName=".ViewTournament">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="geeks.tournamentmaker.ViewTournament" />
        </activity>
        <activity
            android:name=".ViewTournament"
            android:label="@string/title_activity_view_tournament"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="geeks.tournamentmaker.MainActivity" />
        </activity>
        <activity
            android:name=".ViewStandingsActivity"
            android:label="@string/title_activity_view_standings"
            android:parentActivityName=".ViewTournament">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="geeks.tournamentmaker.ViewTournament" />
        </activity>
        <activity
            android:name=".AddMatchActivity"
            android:label="@string/title_activity_add_match"
            android:parentActivityName=".ViewTournament">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="geeks.tournamentmaker.ViewTournament" />
        </activity>
        <activity
            android:name=".ViewHelp"
            android:label="@string/title_activity_view_help" />
        <activity android:name=".help.AddTournaments" />
        <activity android:name=".help.RemoveTournament" />
        <activity android:name=".help.ViewStandings" />
        <activity android:name=".help.ViewTeams" />
        <activity android:name=".help.ViewAddResults" />
    </application>

</manifest>
